@media (min-width: 0px) and (max-width: 767px){
	.padding-rl{
		padding: 0 15px;
	}
	.navbar{
		padding: 0;
	}
	.main-brand{
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
	}
	.navbar-toggler{
		padding: 0;
	}
	.link-email{
		display: flex;
		justify-content: space-between;
		width: 100%;
		
	}
	.link-redes{
		text-align: center;
	}
	.link-redes a i{
		color: #071c3b;
		padding: 1rem;
	}
	.nav-btn-acceso a{
		color: #f5f5f5;
		background:#071c3b ;
	}
	.link-email a{
		margin: 0;
		font-size: .8rem;
	}
	.main-banner__text{
		top: 0%;
		width: 100%;
		padding: 0 1rem;
	}
	.main-banner__title p, .main-banner__title h3{
		font-size: 2rem;
		font-weight: 900;
		line-height: 2.5rem
	}
	.boton-banner{
		display: flex;
		padding-top: 3rem;
	}
	.main-banner__img--content img{
		object-position: 50% 60%;
		object-fit: contain;
	}
	.btn-banner{
		width: auto;
		margin: .5rem 0;
		font-size: .8rem;
		position: absolute;
		bottom: 0;
		right: 21%;
		display: flex;
	}
	.btn-banner-respon{
		background: #071c3b;
		padding: .4rem 2rem;
		color: #f5f5f5;
		border-radius: 25px;
	}
	.btn-banner-respon i{
		font-size: 1.2rem;
		padding-left: .5rem;
	}
	.subtitle-general{
		font-size: 2rem;
	}
	.subtitle-general::after{
		right: 25%;
	}
	.subtitle-general::before{
		right: 35%;
	}
	.hacemos-content__text{
		padding: 1rem;
		font-size: 15px;
	}
	.hacemos-content__cards{
		padding: 0 2rem;
		flex-direction: column;
	}
	.card-hacemos__content{
		width: 100%;
		flex-direction: column;
    	text-align: center;
	}
	.card-hacemos__img{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-hacemos__text--text{
		font-size: .8rem;
	}
	.card-hacemos__text--title{
		padding: 1rem 0;
	}
	.main-agencia{
		grid-template-columns: 100%;
		height: 100vh;
	}
	.main-contenido__content{
		grid-template-columns: 1fr 1fr;
		padding: 2rem 1rem;
	}
	.contenido-content__grid:nth-child(1){
		grid-column: 1/2;
	}
	.contenido-content__grid:nth-child(2){
		grid-column: 2/3;
	}
	.contenido-content__grid:nth-child(3){
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.contenido-content__grid:nth-child(4){
		grid-column: 1/3;
		grid-row: 3/4;
	}
	.contenido-content__grid:nth-child(5){
		grid-column: 1/2;
		grid-row: 4/5;
	}
	.contenido-content__grid:nth-child(6){
		grid-column: 2/3;
		grid-row: 4/5;
	}
	.contenido-content__grid:nth-child(7){
		grid-column: 1/3;
		grid-row: 5/6;
	}
	.contenido-content__grid:nth-child(8){
		grid-column: 1/2;
		grid-row: 6/7;
	}
	.contenido-content__grid:nth-child(9){
		grid-column: 2/3;
		grid-row: 6/7;
	}
	.main-clientes__content{
		padding: 0 1rem;
	}
	.content-clientes__items{
		width: 50%;
	}
	.content-clientes__items img{
		width: 100%;
	}
	.main-comentarios{
		grid-template-columns: 100%;
		background-image: none !important;
	}
	.main-comentarios__content{
		padding: 0;
	}
	.comentarios-slider__content .slick-list.draggable{
		padding: 1rem 4rem 1rem 0 !important;
	}
	.slider-comentario__card{
		flex-direction: column
	}
	.slider-comentario__card--img{
		width: 120px;
	}
	.slider-comentario__card--text{
		width: 100%;
		padding: .5rem;
	}
	.subtitle-general-secun{
		text-align: center;
	}
	.subtitle-general.subtitle-general-secun::before, .subtitle-general.subtitle-general-secun::after{
		left: initial;
	}
	.content-portafolio__items img{
		width: 100%;
	}
	.main-aliados{
		padding: 1rem;
	}
	.content-aliados__items{
		width: 30%;
		padding: .2rem;
	}
	.content-aliados__items img{
		width: 100%;
	}
	.main-servicio__content{
		grid-template-columns: 1fr 1fr;
		padding: 0 1rem;
	}
	.content-servicio__items{
		grid-row: auto !important;
		grid-column: auto !important;
		display: flex;
		justify-content: center;
	}
	.item-service{
		bottom:  0 !important;
		left: initial !important;
		top: initial !important;
		right: initial !important;
	}
	.item-service img{
		width: 100px;
	}
	.item-service__text{
		bottom: -1.5rem !important;
	    top: initial !important;
	    font-size: .6rem;
	    width: auto !important;
	    left: 0 !important;
	    right: initial !important;
	}
	.agencia-content__text{
		padding: 0 2rem;
		font-size: 1rem;
	}
	.agencia-content__text h3{
		font-size: 2rem;
	}
	.main-blog__content .slick-list.draggable{
		margin-left: 1rem !important;
		padding: 1rem 4rem 1rem 0 !important;
	}
	.blog-slider__content{
		flex-direction: column;
		margin: 0 .5rem;
	}
	.blog-slider__img{
		padding: 0 1rem;
	}
	.blog-slider__img img{
		width: 100%;
	}
	.blog-slider__img::before{
		width: 1.5rem;
		right: 0;
		z-index: -1;
	}
	.blog-slider__img::after{
		width: 1.5rem;
		right: initial;
		left: 0;
		border-radius: 10px 0 0 10px;
		z-index: -1;
	}
	.blog-slider__text{
		padding: 0 1rem 1rem;
	}
	.blog-slider__text--title{
		font-size: 1.2rem;
		margin: .5rem 0;
	}
	.blog-slider__text--text{
		padding: 0;
		font-size: 15px;
	}
	.main-footer{
		padding: 1rem;
	}
	.subtitle-footer{
		justify-content: center;
	}
	.content-footer__text--text{
		padding: .5rem;
		font-size: 15px;
		text-align: center;
	}
	.content-footer__direc--text{
		padding: .5rem;
		font-size: 15px;
		text-align: center;
	}
	.content-footer__redes--content{
		padding: 0;
		justify-content: center;
	}
	.main-footer__content{
		grid-template-columns: 100%;
	}
}



@media (min-width: 767px) and (max-width: 991px){
	.padding-rl{
		padding: 0 1rem;
	}
	.navbar{
		padding: .5rem 1rem;
	}
	.main-brand{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.link-email{
		display: flex;
		justify-content: space-between;
		width: 100%;
		
	}
	.link-redes{
		text-align: center;
	}
	.link-redes a i{
		color: #071c3b;
		padding: 1rem;
	}
	.nav-btn-acceso a{
		color: #f5f5f5;
		background:#071c3b ;
	}
	.link-email a{
		margin: 0;
	}
	#header{
		padding: 0;
	}
	.main-banner__title h3{
		font-size: 3rem;
		line-height: 4rem;
	}
	.main-banner__title span, .main-banner__title p{
		font-size: 2.5rem;
		line-height: 3rem;
	}
	.btn-banner{
		width: 45%;
	}
	.main-banner__text{
		top: 15%;
	}
	.hacemos-content__text{
		padding: 3rem;
	}
	.subtitle-general::after{
		right: 42%;
	}
	.hacemos-content__cards{
		padding: 0 1rem;
	}
	.card-hacemos__content{
		flex-direction: column;
	}
	.card-hacemos__img{
		text-align: center;
	}
	.card-hacemos__text--title{
		padding: 0;
	}
	.card-hacemos__text--text{
		font-size: .8rem;
		padding: .5rem;
	}
	.agencia-content__text{
		padding: 0 2rem;
		font-size: 1rem;
	}
	.agencia-content__text h3{
		font-size: 2rem;
	}
	.main-comentarios__content{
		padding-top: 8rem;
	}
	.slider-comentario__card{
		flex-direction: column
	}
	.slider-comentario__card--img{
		width: 120px;
	}
	.slider-comentario__card--text{
		width: 100%;
		padding: .5rem;
	}
	.subtitle-general.subtitle-general-secun::after{
		left: 40%;
	}
	.content-portafolio__items img{
		width: 100%;
	}
	.main-aliados{
		padding: 2rem 3rem;
	}
	.content-aliados__items{
		padding: .5rem;
	}
	.servicio{
		padding: 0;
	}
	.main-servicio__content{
		grid-template-columns: 1fr 1fr 1fr;
		padding: 2rem 1rem;
	}
	.content-servicio__items{
		grid-row: auto !important;
		grid-column: auto !important;
		display: flex;
		justify-content: center;
	}
	.item-service{
		bottom:  initial !important;
		left: initial !important;
		top: initial !important;
		right: initial !important;
	}
	.item-service__text{
		bottom: -1.5rem !important;
	    top: initial !important;
	    font-size: .7rem;
	    width: auto !important;
	    left: initial !important;
	    right: initial !important;
	}
	.blog-slider__content{
		flex-direction: column;
		margin: 0 .5rem;
	}
	.blog-slider__img{
		padding: 0 1rem;
	}
	.blog-slider__img img{
		width: 100%;
	}
	.blog-slider__img::before{
		width: 1.5rem;
		right: 0;
		z-index: -1;
	}
	.blog-slider__img::after{
		width: 1.5rem;
		right: initial;
		left: 0;
		border-radius: 10px 0 0 10px;
		z-index: -1;
	}
	.blog-slider__text{
		padding: 0 1rem 1rem;
	}
	.blog-slider__text--title{
		font-size: 1.2rem;
		margin: .5rem 0;
	}
	.blog-slider__text--text{
		padding: 0;
		font-size: 15px;
	}
	.main-blog__content .slick-list.draggable{
		padding: 1rem 6rem 1rem 0;
		margin-left: 4rem;
	}
	.main-footer{
		padding: 1rem;
	}
	.subtitle-footer{
		justify-content: center;
	}
	.content-footer__text--text{
		padding: .5rem;
		font-size: 15px;
		text-align: center;
	}
	.content-footer__direc--text{
		padding: .5rem;
		font-size: 15px;
		text-align: center;
	}
	.content-footer__redes--content{
		padding: 0;
		justify-content: center;
	}
	.main-footer__content{
		grid-template-columns: 100%;
	}
	.main-agencia{
		height: 32vh;
	}
}



@media (min-width: 992px) and (max-width: 1199px){
	.padding-rl{
		padding: 0 50px;
	}
	.content-aliados__items{
		width: 15%;
		margin: .5rem;
	}
	.btn-banner{
		width: 40%;
	}
	.nav-link{
		font-size: .6rem;
	}
	.main-banner__title p{
		font-size: 4rem;
	}
	.main-banner__title span, .main-banner__title h3{
		font-size: 3.5rem;
	}
	.main-agencia{
		height: 45vh;
	}
}



