@media (min-width: 0px) and (max-width: 767px){
	.padding-rl{
		padding: 0 15px;
	}
	.navbar{
		padding: 0;
	}
	.main-brand{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.navbar-toggler{
		padding: 0;
	}
	.main-banner__text{
		top: 0;
		width: 100%;
		padding: 0 1rem;
	}
	.main-banner__title p, .main-banner__title span, .main-banner__title h3{
		font-size: 2.5rem;
		font-weight: 900;
		line-height: 4rem
	}
	.boton-banner{
		display: flex;
		flex-direction: column-reverse;
	}
	.btn-banner{
		width: 100%;
		margin: .5rem 0;
	}
	.subtitle-general{
		font-size: 2rem;
	}
	.subtitle-general::after{
		right: 25%;
	}
	.subtitle-general::before{
		right: 35%;
	}
	.hacemos-content__text{
		padding: 1rem;
	}
	.hacemos-content__cards{
		padding: 0 2rem;
		flex-direction: column;
	}
	.card-hacemos__content{
		width: 100%;
	}
	.card-hacemos__img{
		display: flex;
		align-items: center;
	}
	.card-hacemos__text--title{
		padding: 1rem 0;
	}
	.main-agencia{
		grid-template-columns: 100%;
		height: 100vh;
	}
	





	.main-footer__content{
		grid-template-columns: 100%;
	}
}



@media (min-width: 767px) and (max-width: 991px){
	.padding-rl{
		padding: 0 25px;
	}
	.main-brand{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	#header{
		padding: 1rem 1rem 0;
	}
	.main-banner__title p{
		font-size: 44px;
	}
	.main-banner__title{
		padding: 0 5rem;
	}
	.main-banner__img{
		height: 100vh;
	}
	.main-banner__text{
		top: 35%;
	}
	.servicio-items__content{
		width: 320px;
		margin: 1rem 15px;
	}
	.main-servicio__text{
		margin-bottom: 70px;
	}
	.main-propuesta__content, .main-formacion__content{
		grid-template-columns: 100%;
	}
	.main-propuesta__item:nth-child(2){
		padding: 70px 7rem 0;
	}
	.main-formacion__items{
		height: 420px;
	}
	.formacion-item__img{
		height: 100%;
		padding-bottom: 85px;
		border-radius: 15px 15px 0 0;
	}
	.formacion-item__img img{
		height: 100%;
		object-fit: contain;
	}
	.formacion-item__text{
		border-radius: 0 0 15px 15px;
	}
	.formacion-logo{
		right: 43%;
		top: 44%;
	}
	.main-numeros__content{
		flex-direction: column;
	}
	.main-numeros__items{
		width: 100%;
		margin-bottom: 1.5rem;
	}
	.main-stratups__content{
		flex-direction: column-reverse;
		text-align: center;
		padding: 0 6rem;
	}
	.main-stratups__items{
		width: 100%;
	}
	.stratups-content__text p{
		padding: 0 5rem;
	}
	.stratups-content__text {
		padding: 0;
		margin-bottom: 70px;
	}
	.logos-content__logos{
		margin: 12px 15px;
	}
	.publicidad-item__content{
		height: 360px;
		padding: 50px 45px;
	}
	.main-publicidad__bg{
		height: 365px;
	}
	.publicidad-botones__redes{
		flex-direction: column;
		align-items: start;
	}
	.publicidad-redes__correo{
		margin-bottom: .5rem;
		margin-right: 0;
	}
	.publicidad-item__botones{
		margin-top: 2rem;
	}
	.footer-item__suscribir{
		flex-direction: column;
		text-align: center;
	}
	.footer-item__suscribir--input{
		margin-top: 35px;
	}
	.footer-item__suscribir--input input{
		width: 585px;
	}
	.footer-item__list{
		flex-wrap: wrap;
	}
	.footer-item__list--content{
		margin-bottom: 1rem;
		width: 50%;
	}
	.footer-item__list--content:nth-child(2){
		padding-left: 3rem;
	}
	.main-timeline{
		top: 18%;
	}
}



@media (min-width: 992px) and (max-width: 1199px){
	.padding-rl{
		padding: 0 50px;
	}
	.navbar-nav{
		padding-left: 4rem;
	}
	.main-banner__title{
		padding: 0 10rem;
	}
	.formacion-logo{
		top: 10px;
		right: 411px;
	}
	.formacion-item__text{
		padding: 0 70px;
	}
	.stratups-content__text p{
		padding-right: 1rem;
	}
	.logos-content__logos{
		margin-left: .5rem;
	}
	.footer-item__suscribir--input{
		display: flex;
	}
	.footer-item__suscribir--input input{
		width: 345px;
	}
}



